.menu {
  background-color: rgb(156, 49, 147);
  overflow: hidden;
  display: flex;
  align-items: center;
}

.menu-logo {
  width: 100px;
  margin-right: 20px;
}

.menu-item {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 27px;
}

.menu-item:hover {
  background-color: #ddd;
  color: rgb(156, 49, 147);
}

.menu-item.active {
  background-color: #4CAF50;
  color: white;
}